{% extends './base.html' %} {% block content %}

<div class="container" style="height: 500px;">
  <div class="row">
    <h2></h2>
  </div>  
  <div class="row align-items-center">
    <div class="jumbotron jumbotron-fluid" style="background:url(https://content.codecademy.com/courses/learn-bootstrap-4/adhoc/jumbotron.png) no-repeat; background-size: cover;">
      <div class="container text-white my-5">
        <h1 class="display-4">Hola, bienvenido a tu Dashboard</h1>
        <p class="lead">Por favor, elige la opción deseada.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
